body{
    background-color: black;
    color: white;
}
.container{
    background-color: rgb(48, 46, 46, 0.815);
    border-radius: 2rem;
    margin: 45px;
}
h1{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
span, h2{
    color: #FF0000;
}
.header-part{
    text-align: center;
}
.header-part img{
    width: 18em;
    border-radius: 35px;
    box-shadow: ;
}
article{
    text-align: justify;
    margin: 8px 25px;
    border: 1px solid yellow;
}
h2{
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    margin-left: 25px;
}
